---
import type { ArticleItem } from "types/generated";
import StoryblokComponents from "@components/practice/StoryblokComponents.astro";
import RichText from "@components/practice/RichText.astro";
import type { SbBlokData } from "@storyblok/astro";

type PropsType = {
  article: ArticleItem;
};

const { article }: PropsType = Astro.props;
const blocks = article.content?.body?.content || [];
console.log(blocks);
---

<div>
  {
    blocks.map((block: any) => {
      if (!block.content) {
        return null;
      }
      switch (block.type) {
        case "paragraph":
          return (
            <div>
              {block.content.map((content: any) => {
                return <p>{content.text}</p>;
              })}
            </div>
          );
      }
    })
  }
</div>
