---
import { getEditableAttributes } from "@lib/storyblok.js";
import StoryblokComponents from "./StoryblokComponents.astro";

const { story } = Astro.props;

const editableAttributes = await getEditableAttributes(story);
---

<main
  data-blok-c={(editableAttributes as any)["data-blok-c"]}
  data-blok-uid={(editableAttributes as any)["data-blok-uid"]}
  class:list={[{ storyblok__outline: editableAttributes }]}
>
  <StoryblokComponents story={story} />
</main>
