---
import { getEditableAttributes } from "@lib/storyblok.js";
import type { SbBlokData } from "@storyblok/astro";

const { content } = Astro.props;
---

<div>
  {
    content.map((block) => {
      return <div>iii</div>;
    })
  }
</div>
