---
import { getEditableAttributes } from "@lib/storyblok.js";

const { blok } = Astro.props;

const editableAttributes = await getEditableAttributes(blok);
const dataBlokC = JSON.stringify(editableAttributes);
console.log(dataBlokC);
---

<section
  data-blok-c={editableAttributes as any}
  data-blok-uid={(editableAttributes as any)["data-blok-uid"]}
  class:list={["py-32", { storyblok__outline: editableAttributes }]}
>
  <div class="container">
    <h2 class="text-5xl font-light text-gray-700">{blok.headline}</h2>
  </div>
</section>
