---
import Articles from "../../components/articles/Articles";
import Layout from "../../layouts/Layout.astro";
import { useStoryblokApi } from "@storyblok/astro";
import type { ArticleItem } from "../../../types/generated";
import type { ArticleType } from "../../../types/entities";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories", {
  version: "published",
  content_type: "article",
});
const articles = data.stories.map((story: ArticleItem): ArticleType => {
  if (
    !story.id ||
    !story.content ||
    !story.content.title ||
    !story.content.content ||
    !story.content.coverImage?.filename
  )
    throw new Error("Error");
  return {
    id: `${story.id}`,
    title: story.content.title,
    content: story.content.content,
    coverImage: story.content.coverImage.filename,
  };
});
---

<Layout>
  <div>メディアのトップ</div>
  <Articles articles={articles} />
</Layout>
