---
import { contentfulClient } from "@lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { ArticleCollection } from "types/generated";

const entries = await contentfulClient.getEntries<ArticleCollection>({
  content_type: "article",
});
console.log(entries);
---

<body>
  {
    entries.items.map((item) => (
      <section>
        <h2>{item.fields.name}</h2>
        <article set:html={documentToHtmlString(item.fields.content)} />
      </section>
    ))
  }
</body>
